$primary: #0078B2;
$primary-light: #00ACFF;
$primary-lightest: #0BADFB;
$primary-dark: #005D8A;
$primary-darkest: #00486B;

$secondary: #2a3747;
$secondary-light: #546172;
$secondary-dark: #011120;

$on-primary: #fff;
$on-primary-light: #112c61;
$on-primary-dark: #e5f0ff;
$on-secondary: #fff;

$highlight: #265eca;

$blue: #0c4b9c;

// Supported Colours

$heading-text: #04213f;

$dark-orange: #f3693f;
$dark-orange-active: #c6472a;
$turquoise: #0e7ea0;
$light-orange: #fff6f2;
$orange-active: #ffa979;
$tag: #ededf6;

$dark-red: #dc3224;
$dark-red-active: #c92d21;
$red-active: #f0bab5;
$light-red: #fbebe9;

$lightest-gray: #f8f8f8;
$light-gray: #d9dbe0;
$active-gray: #c5c9d0;
$dark-gray: #babbbc;
$gray: #75767a;

$dark-green: #067e41;
$green: #1b6d2f;

$border: #ebebeb;
$black-title: #333333;
$black-title-light: #666666;
$black: #212121;
$light-black: #4c4c50;
$white: #ffffff;

$brown: #804d20;

$formError: #dc3224;
