.search {
  &__tag {
    padding: 5rem 0;
    width: 100%;
    background: linear-gradient(to right bottom, $color-primary-dark, $color-primary);
  }

  &__box {
    width: 100%;
    padding: 2rem 2rem;
  }

  &__bar {
    width: 100%;
    display: flex;
  }

  &__input {
    width: 100%;
    padding: 2rem;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
    outline: none;
    border: none;
    color: $color-primary-text;
    font-size: 1.6rem
  }

  &__button,
  &__button:active {
    padding: 2rem;
    background-color: $color-grey-light-2;
    cursor: pointer;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    border: none;
    border-left: 1px solid $color-divider;
    color: $color-primary-text;
    font-size: 1.6rem
  }

  &__button:hover {
    background-color: $color-divider;
  }
}

.category {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    color: $color-white;
    font-size: 1.6rem;
    font-weight: 500;
  }

  &__link:hover {
    background-color: $color-primary-dark;  
  }
}
