*,
*::before,
*::after {
    box-sizing: border-box;
}

[role=button] {
    cursor: pointer;
}

.dropup,
.dropdown {
    position: relative;
}

img {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}

a {
    color: #007791;
    background-color: transparent;
    font-weight: 400;
    text-decoration: none;
}

.badge {
    display: inline-block;
    min-width: 22px;
    padding: 2px 6px;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    line-height: 1.43;
    vertical-align: text-top;
    white-space: nowrap;
    text-align: center;
    text-shadow: none;
    background-clip: padding-box;
    background-color: #ec5252;
    border: 2px solid #fff;
    border-radius: 15px;
    z-index: 1;
}

body {
    font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.43;
    color: #29303b;
    background-color: #fff;
    margin: 0;
}

body,
.main_content_wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.min-width_tablet {
    min-width: 768px;
}

.main_content_wrapper,
.main_content {
    flex: 1 0 auto;
}

.ud_component_browse__app {
    min-height: 100vh;
}

.browse_container {
    margin: 0 auto;
}

.c_header {
    background: #fff;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
    display: block;
    position: relative;
    z-index: 1010;
}

.c_header .c_header__inner {
    display: flex;
    justify-content: space-between;
    background: inherit;
    box-sizing: border-box;
    height: 65px;
    max-width: 1440px;
    margin: auto;
    padding: 0 20px;
    position: relative;
    z-index: 1011;
}

.c_header .c_header__logo_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.c_header .c_header__logo_wrap {
    margin: 0 16px 0 0;
}

.c_header .c_header__left {
    flex: 1;
    min-width: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.c_header .dropdown {
    font-size: 13px;
    margin: 0 2px;
    padding: 10px 0;
}

.c_header .dropdown_toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #505763;
    font-weight: 400;
    height: 45px;
    line-height: 20px;
    padding: 12px 15px;
    white-space: nowrap;
}

.c_header .dropdown__topics .dropdown_toggle {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 170px;
}

.c_header .dropdown__icon .dropdown_toggle {
    border-radius: 50%;
    padding: 12px 0;
    width: 45px;
}

.c_header .dropdown_toggle:hover {
    background-color: rgb(235, 233, 233);
}


.udi {
    vertical-align: -8%;
}

.udi {
    font-family: udemyicons !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.c_header .c_header__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.c_header .header_right_divider {
    height: 60%;
    border-left: 1px solid #b3b3b3;
    margin: 0 8px;
}

.c_header .dropdown__mylearning .dropdown_toggle {
    padding-right: 24px;
}

.c_header .dropdown__icon .has_num {
    color: #ec5252;
}

.c_header .badge {
    border: none;
    min-width: 19px;
}

.c_header .dropdown_toggle .badge {
    position: absolute;
    right: 0;
    top: -10px;
}

.c_header .dropdown__user {
    margin-right: 0;
}

.c_header .dropdown__user .dropdown_toggle {
    padding: 0;
}

.c_header .dropdown__user .dropdown_toggle .user_avatar {
    width: 45px;
}

.user_avatar {
    display: inline-block;
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.user_avatar__initials {
    background-color: #686f7a;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    font-size: 15px;
}

.user_avatar__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fx_c,
.fxc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pos_r {
    position: relative;
}

.text_center {
    text-align: center;
}

.fx {
    flex: 1;
    min-width: 1px;
}

.browse_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 320px;
}

.test {
    background-color: aliceblue;
}

@media (max-width: 1439px) and (min-width: 1200px) {
    .visible-lg-block {
        display: block !important;
    }
}

@media (min-width: 1440px) {
    .visible-xl-block {
        display: block !important;
    }
}

@media (max-width: 575px) {
    .hidden-xxs {
        display: none !important;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .hidden-sm {
        display: none !important;
    }
}

@media (min-width: 1440px){
    .browse_container.suppress_xl {
        width: 1170px;
    }
    .browse_container {
        max-width: 1405px;
        width: 100%;
    }
    .browse_container {
        width: 1170px;
    }
}

@media (min-width: 1440px){
    .browse_container {
        width: 1170px;
    }
}

@media (min-width: 1200px){
    .browse_container {
        width: 1170px;
    }
}

@media (min-width: 992px){
    .browse_container {
        width: 970px;
    }
}

@media (min-width: 768px){
    .browse_container {
        width: 750px;
    }
}

.visible-xl,
.visible-xl-block,
.visible-xl-inline,
.visible-xl-inline-block {
    display: none;
}

.visible-lg,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
    display: none;
}